@import '~@scss';
@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
}

.active-replace {
    animation-name: zoomIn;
    animation-duration: 0.4s;
    animation-fill-mode: none;
    background-color: var(--theme);
    color: $text;
}